//
// BioCommons Colors: https://github.com/AustralianBioCommons/umccr-dictionary/blob/main/docs/_sass/custom/custom.scss
//

$bioc-pink:#ed087c;
$bioc-purple: #b21e8d;
$bioc-blue: #205a86;
$bioc-yellow: #f49f1d;
$bioc-teal: #5ac3b1;
$bioc-olive: #8ea869;
$bioc-green: #2cb77c;

// CSS page width - https://stackoverflow.com/a/46564977
.main-container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
}

body {
  font-family: proxima-nova;
  font-size: 12pt;
  margin-bottom: 60px;
  background-color: #fafafa;
}

.side-bar {
  background-color: #fafafa;
}

.nav-list {
  font-family: proxima-nova;
  font-size: 12pt;
}

a {
  color: $bioc-blue;
}
