body {
  font-family: Arial;
  color: blue;
  font-size: 20pt;
  margin-bottom: 60px;
}

.side-bar {
  background-color: white;
}

.nav-list {
  font-family: Arial;
  font-size: 12pt;
  color: #205a86;
}
