/* see https://github.com/ELIXIR-Belgium/elixir-toolkit-theme*/

.navbar {
    .navbar-brand {
        font-size: 2.25rem;
        padding-top: 0;
        padding-bottom: 0;
    }
}
img {
    @extend .img-fluid;
}